<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FirstApi</servlet-name>
        <servlet-class>demo.FirstApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResisterDemo</servlet-name>
        <servlet-class>demo.ResisterDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Loginapi</servlet-name>
        <servlet-class>demo.Loginapi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstApi</servlet-name>
        <url-pattern>/FirstApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResisterDemo</servlet-name>
        <url-pattern>/ResisterDemo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Loginapi</servlet-name>
        <url-pattern>/Loginapi</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
